#include <windows.h>
#include <winver.h>
#include "ddsvers.h"
#include "ddsrc.h"
#include "tbkw.h"

STRINGTABLE
  BEGIN
    TBKW_BASE + KWFILE              , "file"
    TBKW_BASE + KWEQUAL             , "="
    TBKW_BASE + KWSEMICOLON         , ";"
    TBKW_BASE + KWBLOCKSC           , "size_count"
    TBKW_BASE + KWBLOCKS            , "size_structured"
    TBKW_BASE + KWBLOCK             , "block"
    TBKW_BASE + KWPRIVATE           , "private"
    TBKW_BASE + KWAUTOINC           , "autoinc"
    TBKW_BASE + KWUNSIGNED          , "unsigned"
    TBKW_BASE + KWZSTRING           , "zstring"
    TBKW_BASE + KWLSTRING           , "lstring"
    TBKW_BASE + KWBFLOAT            , "bfloat"
    TBKW_BASE + KWNUMERIC           , "numeric"
    TBKW_BASE + KWLOGICAL           , "logical"
    TBKW_BASE + KWMONEY             , "money"
    TBKW_BASE + KWDECIMAL           , "decimal"
    TBKW_BASE + KWTIME              , "time"
    TBKW_BASE + KWDATE              , "date"
    TBKW_BASE + KWFLOAT             , "float"
    TBKW_BASE + KWINTEGER           , "integer"
    TBKW_BASE + KWUSTRING           , "ustring"
    TBKW_BASE + KWDOPPELPUNKT       , ":"
    TBKW_BASE + KWDIMBRACEOPEN      , "["
    TBKW_BASE + KWDIMBRACECLOSE     , "]"
    TBKW_BASE + KWFIELD             , "fields"
    TBKW_BASE + KWCURBRACEOPEN      , "{"
    TBKW_BASE + KWCURBRACECLOSE     , "}"
    TBKW_BASE + KWYES               , "yes"
    TBKW_BASE + KWNO                , "no"
    TBKW_BASE + KWDUPLICATE         , "duplicate"
    TBKW_BASE + KWMODIFIABLE        , "modifiable"
    TBKW_BASE + KWALTERNATE         , "alternate"
    TBKW_BASE + KWVALUE             , "value"
    TBKW_BASE + KWNULL              , "null"
    TBKW_BASE + KWCOLON             , ","
    TBKW_BASE + KWMANUAL            , "manual"
    TBKW_BASE + KWBRACEOPEN         , "("
    TBKW_BASE + KWBRACECLOSE        , ")"
    TBKW_BASE + KWKEY               , "key"
    TBKW_BASE + KWPLUS              , "+"
    TBKW_BASE + KWNAME              , "NAME"
    TBKW_BASE + KWRECORD            , "record"
    TBKW_BASE + KWVARIABLE          , "variable"
    TBKW_BASE + KWCOMPRESS          , "compress"
    TBKW_BASE + KWPAGESIZE          , "pagesize"
    TBKW_BASE + KWUNION             , "union"
    TBKW_BASE + KWSIZE              , "size"
    TBKW_BASE + KWUSE_SELECTION     , "use_selection"
    TBKW_BASE + KWCLEAR             , "CLEAR"
    TBKW_BASE + KWSET               , "SET"
    TBKW_BASE + KWSHIFT             , "SHIFT"
    TBKW_BASE + KWUSE               , "use"
    TBKW_BASE + KWNONE              , "none"
    TBKW_BASE + KWGETEQUAL          , "GETEQUAL"
    TBKW_BASE + KWGETPREVEXTENDED   , "GETPREVEXTENDED"
    TBKW_BASE + KWGETNEXTEXTENDED   , "GETNEXTEXTENDED"
    TBKW_BASE + KWGETLAST           , "GETLAST"
    TBKW_BASE + KWGETFIRST          , "GETFIRST"
    TBKW_BASE + KWGETLESSEQUAL      , "GETLESSEQUAL"
    TBKW_BASE + KWGETLESS           , "GETLESS"
    TBKW_BASE + KWGETGREATEREQUAL   , "GETGREATEREQUAL"
    TBKW_BASE + KWGETGREATER        , "GETGREATER"
    TBKW_BASE + KWGETPREV           , "GETPREV"
    TBKW_BASE + KWGETNEXT           , "GETNEXT"
    TBKW_BASE + KWDELETE            , "DELETE"
    TBKW_BASE + KWINSERT            , "INSERT"
    TBKW_BASE + KWUPDATE            , "UPDATE"
    TBKW_BASE + KWONRECNOTFOUND     , "on_record_not_found"
    TBKW_BASE + KWONENDOFFILE       , "on_end_of_file"
    TBKW_BASE + KWONUPDATE          , "on_update"
    TBKW_BASE + KWONDELETE          , "on_delete"
    TBKW_BASE + KWONINSERT          , "on_insert"
    TBKW_BASE + KWONLAST            , "on_last"
    TBKW_BASE + KWONFIRST           , "on_first"
    TBKW_BASE + KWONPREV            , "on_prev"
    TBKW_BASE + KWONNEXT            , "on_next"
    TBKW_BASE + KWONGET             , "on_get"
    TBKW_BASE + KWASSERT            , "assert"
    TBKW_BASE + KWAND               , "and"
    TBKW_BASE + KWOR                , "or"
    TBKW_BASE + KWCMNOTEQUAL        , "notequal"
    TBKW_BASE + KWCMLESSEQUAL       , "lessequal"
    TBKW_BASE + KWCMLESS            , "less"
    TBKW_BASE + KWCMGREATEREQUAL    , "greaterequal"
    TBKW_BASE + KWCMGREATER         , "greater"
    TBKW_BASE + KWCMEQUAL           , "equal"
    TBKW_BASE + KWFILTER            , "filter"
    TBKW_BASE + KWDEC               , "dec"
    TBKW_BASE + KWSTRING            , "string"
    TBKW_BASE + KWINT               , "int"
    TBKW_BASE + KWLONG              , "long"
    TBKW_BASE + KWVOID              , "void"
    TBKW_BASE + KWACCESS            , "access"
    TBKW_BASE + KWONSUCCESS         , "on_success"
    TBKW_BASE + KWREMAPKEY          , "remapkey"
    TBKW_BASE + KWKEYONLY           , "KEY_ONLY"
    TBKW_BASE + KWPADD              , "padd"
    TBKW_BASE + KWTABLE             , "table"
    TBKW_BASE + KWVAR               , "var"
    TBKW_BASE + KWREQUEST           , "request"
    TBKW_BASE + KWLDSTRING          , "ldstring"
    TBKW_BASE + KWKLDATE            , "kldate"
    TBKW_BASE + KWMSG               , "msg"
    TBKW_BASE + KWSETRESULT         , "AddLine"
    TBKW_BASE + KWTOLDSTRING        , "ToLDString"
    TBKW_BASE + KWBINCAT            , "bincat"
    TBKW_BASE + KWONMORE            , "on_more"
    TBKW_BASE + KWABORT             , "abort"
    TBKW_BASE + KWONERROR           , "on_error"
    TBKW_BASE + KWGETDIRECT         , "GETDIRECT"
    TBKW_BASE + KWGETPOS            , "GETPOS"
    TBKW_BASE + KWIF                , "if"
    TBKW_BASE + KWONREDUCED         , "on_reduced"
    TBKW_BASE + KWSTOREMULTI        , "AddMultiLine"
    TBKW_BASE + KWONFATALERROR      , "on_fatalerror"
    TBKW_BASE + KWFORALL            , "for_all"
    TBKW_BASE + KWRESULT            , "result"
    TBKW_BASE + KWTESTFILTER        , "on_filtersatisfy"
    TBKW_BASE + KWCASEINSENSITIVE   , "case_insensitive"
    TBKW_BASE + KWDESCRIPTION       , "description"
    TBKW_BASE + KWINRECORD          , "length_in_record"
    TBKW_BASE + KWOUTRECORD         , "length_out_record"
    TBKW_BASE + KWSPRIVATE          , "sprivate"
    TBKW_BASE + KWSETLINE           , "SetLine"
    TBKW_BASE + KWTESTBTSTATUS      , "TestStatus"
    TBKW_BASE + KWBLOCKSU           , "size_unstructured"
    TBKW_BASE + KWONPARAM           , "on_param"
    TBKW_BASE + KWSTRCAT            , "strcat"
    TBKW_BASE + KWNOT               , "not"
    TBKW_BASE + KWSETREJECT         , "SetReject"
    TBKW_BASE + KWINITREC           , "InitializeRec"
    TBKW_BASE + KWNEXTCHAR          , "nextchar"
    TBKW_BASE + KWADDLONG           , "addlong"
    TBKW_BASE + KWMULLONG           , "mullong"
    TBKW_BASE + KWONLOCK            , "on_lock"
    TBKW_BASE + KWNOWAITLOCK        , "NOWAITLOCK"
    TBKW_BASE + KWPUSHTOLOCKLIST    , "pushtolocklist"
    TBKW_BASE + KWCALLCASCADE       , "callcascade"
    TBKW_BASE + KWREPEAT            , "repeat"
    TBKW_BASE + KWBREAK             , "break"
    TBKW_BASE + KWPOP               , "pop"
    TBKW_BASE + KWPUSH              , "push"
    TBKW_BASE + KWMDATE             , "mdate"
    TBKW_BASE + KWMFILTER           , "nextfilter"
    TBKW_BASE + KWINCREMENT         , "increment"
    TBKW_BASE + KWDECREMENT         , "decrement"
    TBKW_BASE + KWVIEWALLOWED       , "_allowview"
    TBKW_BASE + KWSETPRIMKEY        , "SetPrimkey"
    TBKW_BASE + KWINLIST            , "inlist"
    TBKW_BASE + KWINNERJOINS        , "just_innerjoins"
    TBKW_BASE + KWCONTINUE          , "continue"
    TBKW_BASE + KWDIVLONG           , "divlong"
    TBKW_BASE + KWNOTTESTFILTER     , "on_notfiltersatisfy"
    TBKW_BASE + KWSUBLONG           , "sublong"
    TBKW_BASE + KWEND               , "end"
    TBKW_BASE + KWEND + 1           , "END"

    VRKW_BASE + KWVMAP              , "map"
    VRKW_BASE + KWVSEMICOLON        , ";"
    VRKW_BASE + KWVLENGTH           , "Length"
    VRKW_BASE + KWVOFFSET           , "Offset"
    VRKW_BASE + KWBIDENT            , "BlockIdent"
    VRKW_BASE + KWVIDENT            , "VarIdent"
    VRKW_BASE + KWVKLDATE           , "kldate"
    VRKW_BASE + KWVLDSTRING         , "ldstring"
    VRKW_BASE + KWVPRIVATE          , "private"
    VRKW_BASE + KWVAUTOINC          , "autoinc"
    VRKW_BASE + KWVUNSIGNED         , "unsigned"
    VRKW_BASE + KWVZSTRING          , "zstring"
    VRKW_BASE + KWVLSTRING          , "lstring"
    VRKW_BASE + KWVBFLOAT           , "bfloat"
    VRKW_BASE + KWVNUMERIC          , "numeric"
    VRKW_BASE + KWVLOGICAL          , "logical"
    VRKW_BASE + KWVMONEY            , "money"
    VRKW_BASE + KWVDECIMAL          , "decimal"
    VRKW_BASE + KWVTIME             , "time"
    VRKW_BASE + KWVDATE             , "date"
    VRKW_BASE + KWVFLOAT            , "float"
    VRKW_BASE + KWVINTEGER          , "integer"
    VRKW_BASE + KWVUSTRING          , "ustring"
    VRKW_BASE + KWVSPRIVATE         , "sprivate"
    VRKW_BASE + KWVFOREIGN          , "foreign"
    VRKW_BASE + KWVTO               , "to"
    VRKW_BASE + KWVGET              , "get"
    VRKW_BASE + KWVPRIMARY          , "primary"
    VRKW_BASE + KWVKEYCAT           , "key_cat"
    VRKW_BASE + KWVDEL              , "ondelete"
    VRKW_BASE + KWVEND              , "END"

    TBCMPERROR_BASE                 , "Error in %s, Zeile %d, Spalte %d:\r<%s>"
    ERROR_NOTIMPLEMENTED            , "Not Implemented Yet"
    ERROR_DIMENSION                 , "Invalid Dimension"
    ERROR_FIELDALREADYEXIST         , "Field already exist"
    ERROR_RECTOSMALL                , "Record too small"
    ERROR_FIELDDOESNOTEXIST         , "Field does not exist"
    ERROR_ALTFILENOTFOUND           , "Alternate Sequence not found"
    ERROR_ALTFILECORRUPTED          , "Alternate Sequence corrupted"
    ERROR_ACCESSDEFINED             , "Access already defined"
    ERROR_KEYDEFINED                , "Key already defined"
    ERROR_NOARRAYALLOWED            , "No Array in Key Allowed"
    ERROR_KEYNOTDEFINED             , "Key not defined"
    ERROR_UNKNOWNVAR                , "Unknown Variable"

    VRCMPERROR_BASE                 , "Error in %s, Zeile %d, Spalte %d:\r<%s>"
    VERROR_FIELDNOTDEFINED          , "Field does not exist"
    VERROR_INCOMPATIBLETYPE         , "Incompatible DataTypes"
    VERROR_BLOCKTYPE                , "Incompatible Blocktypes"
    VERROR_MAXKEYSEGS               , "Max. Anzahl Keysegmente"

    FILENOTFOUNE_PATTERN            , "Datei %s nicht gefunden\rMelden Sie sich bei Ihrem Betreuer, bevor Sie weitermachen!"
    STATDIFFERENT_PATTERN           , "!!! Struktur der Datei %s stimmt nicht mit der Definition ueberein !!!"
    FOREIGNDESC_PATTERN             , "foreign to %s (GET: %s)"
  END


VS_VERSION_INFO VERSIONINFO

#ifdef WIN32
  FILEVERSION 4,0,PROGRAM_VERSION,SUB_VERSION
  PRODUCTVERSION 4,0,PROGRAM_VERSION,SUB_VERSION
  FILEOS VOS__WINDOWS32
#else
  FILEVERSION 3,10,PROGRAM_VERSION,SUB_VERSION
  PRODUCTVERSION 3,10,PROGRAM_VERSION,SUB_VERSION
  FILEOS VOS__WINDOWS16
#endif

#ifdef DEBUG
  FILEFLAGSMASK  VS_FF_DEBUG
#else
  FILEFLAGSMASK  VS_FF_DEBUG
#endif

FILEFLAGS 0x3F
FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704E4"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", FILE_VERSION
            VALUE "OriginalFilename", "DBBTRV.DLL\0"
            VALUE "InternalName", "DBBTRV\0"
            VALUE "LegalCopyright", LEGAL_COPYRIGHT
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", PRODUCT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1252 
    END
END
